{{#each this}}
<div class="country">
    <img src="{{flags.svg}}" alt="{{name}}" class="country__flag" width="40" height="30">
    <h1 class="country__name">{{name}}</h1>
</div>
<ul class="country-info__list">
    <li class="country-info__field">
        <h2 class="country-info__label">Capital:</h2>
        <p class="country-info__value">{{capital}}</p>
    </li>
    <li class="country-info__field">
        <h2 class="country-info__label">Population:</h2>
        <p class="country-info__value">{{population}}</p>
    </li>
    <li class="country-info__field">
        <h2 class="country-info__label">Languages:</h2>
        <ul class="country-info__langs">
            {{#each languages}}
            <li class="country-info__lang">{{name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
{{/each}}